
 /* настройки внешнего блока */


.header__inner {
    min-height: 88px;
    padding: 0 16px 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}
     @media (min-width: 768px) {
        .header__inner {
            padding: 0px 24px 0 24px;
        }
    }

        @media (min-width: 1120px) {
            .header__inner {
                padding: 0 40px 0 40px;

                justify-content: end;
            }
        } 

.header__inner::after {
    content: " ";
    
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;

    position: absolute;
    right: 40.5%;
    top: 30px;
}
    @media (min-width: 768px) {
        .header__inner::after { display: none;}
    }


/* внутренние настройки */


/* кнопки */


.header__button {
    display: inline-block;
    padding: 0;

    background-color: white;
    border: none;
}
.header__button:not(:first-child) {
    margin-left: 16px;
}

    @media (min-width: 768px) {
       .header__tools .header__button:nth-last-child(2) {
            margin-left: 32px;
       }
    }

    @media (min-width: 1120px) {
        .button {
            z-index: 2;
            background-color: #F8F8F8;
            display: flex;
            justify-content: end;
            align-items: center;

            position: relative;
            top: 20px;
        }
    }
    
    @media (min-width: 1120px) {
        .button__title {
            margin-right: 8px;
        }
    } 
/* левый блок header  */


 .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
    @media (min-width: 768px) {
        .header__menu::before {
            content: " ";
    
            background: #EAEAEA;
            width: 2px;
            height: 32px;
            border-radius: 1px;

            position: absolute;
            left: 43%;
        }
    }

.logo {
    display: inline-block;
    padding-left: 16px;
}
    @media (min-width: 768px) {
        .logo {
            padding-left: 32px;
        }
    }


/* правый блок header  */


.header__tools {
    display: flex;
    align-items: center;
}
    @media (min-width: 768px) {
        .header__tools {position: relative;}
        .header__tools::after {
            content: " ";
    
            background: #EAEAEA;
            width: 2px;
            height: 32px;
            border-radius: 1px;

            position: absolute;
            right: 40%;
        }
    }
        @media (min-width: 1120px) {
            .header__tools::after {
                display: none;
            }
        }

