.main__wrapper {
    background-color: #F8F8F8;
}
    @media (min-width: 1120px) {
        .main {
            position: relative;
        }
        .main__wrapper {
            position: absolute;
            top: -88px;
            left: 0;
            right: 0;
        }
    }
/* заголовок */


.main__title {
    font-size: 1.8em;
    padding: 24px 16px 16px 16px;
    margin-top: 0;
    position: relative;
}
    @media (min-width: 768px) {
        .main__title {
            padding: 24px;
        }
    }
        @media (min-width: 1120px) {
            .main__title {
                padding: 48px 40px 0 40px;
            }
        }

.main__title::before {
    content: " ";
    
    background: #41F6D7;
    width: 4px;
    height: 40px;
    border-radius: 0 3px 3px 0;

    position: absolute;
    left: 0px;
    top: 18px;
}
        @media (min-width: 1120px) {
            .main__title::before {
                top: 44px;
            }
        }

/* навигация */


.nav__list {
    list-style-type: none;
    padding: 0 16px 0 16px;
    margin: 0 0 18px 0;

    font-size: 16px;

    overflow-x: auto;
    display: flex;
}
    @media (min-width: 768px) {
        .nav__list {
            padding: 0 24px 0 24px;
        }
    }
        @media (min-width: 1120px) {
            .nav__list {
                padding: 0 40px 0 40px;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
        }

.nav__list::-webkit-scrollbar {
    width: 0;
}

.nav__item {
    
    padding: 6px 14px 6px 14px;
    min-width: fit-content;
    margin-left: 16px;
}
    @media (min-width: 1120px) {
        .nav__item {
            margin: 0 0 10px 0;
        }
        /* .nav__item:first-child, .nav__item:last-child  {
            margin: 0;
        } */
    }

.nav__item:first-child {
    margin-left: 0;
    border: 2px solid #41F6D7;
    border-radius: 6px;
    background-color: #fff;
}

.nav__link {
    color: #7E7E82;
    text-decoration: none;
    align-self: center;
}

/* о нас */

    @media (min-width: 768px) {
        .main__about-us {
            position: relative;
            padding-bottom: 40px;
        }
    }
        @media (min-width: 1120px) {
            .main__about-us {
                position: relative;
                padding-bottom: 80px;
            }
        }
       

.about-us__text {
    margin: 0 0 16px 0;
}
    @media (min-width: 768px) {
        .about-us__text, .read-more {
            width: 55%;
        }
    }

.about-us__photo {
    width: 100%;
    height: auto;
}
    @media (min-width: 768px) {
        .about-us__photo {
            width: 310px;
            height: 170px;
            
            position: absolute;
            top: 0px;
            right: 3.5%;
        }
    }
        @media (min-width: 1120px) {
            .about-us__photo {
                width: 470px;
                height: 260px;
                
                position: absolute;
                top: 0px;
                right: 3.5%;
            }
        }


/* читать больше  */


.about-us__read-more {
    padding-left: 16px;
    margin-bottom: 18px;
    position: relative;

    display: flex;
    align-items: center;
}

    @media (min-width: 768px) {
        .about-us__read-more {
            margin-bottom: 0;
        }
    }

.read-more__button {
    position: absolute;
    left: 20px;
    z-index: -1;
    opacity: 0;
}

.read-more__icon {
    vertical-align: center;
}

/* отступы по бокам "о нас" */

.about-us--horizontal-paddings {
    padding: 0 16px 0 16px;
}
    @media (min-width: 768px) {
        .about-us--horizontal-paddings {
            padding: 0 24px 0 24px;
        
        }
    }
        @media (min-width: 1120px) {
            .about-us--horizontal-paddings {
                padding: 0 40px 0 40px
            }
        }