/* общий контейнер */
body {
    max-width: 320px;
}

.menu-bar__header {
    min-height: 88px;
    padding: 0 24px 0 24px;
    margin: 0 0 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* внутренние настройки */


/* кнопки */


.menu-bar__button {
    display: inline-block;
    padding: 0;

    background-color: white;
    border: none;
}
.menu-bar__button:not(:first-child) {
    margin-left: 16px;
}


/* левый блок menu-bar  */


 .menu-bar__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar__logo {
    padding-left: 16px;
}


/* списище */


.menu-bar__nav-list {
    padding: 0 0 392px 24px;
    list-style: none;
    margin: 0
}

.menu-bar__nav-item {
    margin: 0 0 40px 0;
    position: relative;
}

.menu-bar__nav-link {
    text-decoration: none;
    color: black;
}

.menu-bar__nav-item .menu-bar__nav-link:hover {
    color: #7E7E82;
}

.menu-bar__nav-item:hover::before {
    content: " ";
    
    background: #41F6D7;
    width: 4px;
    height: 40px;
    border-radius: 0 3px 3px 0;

    position: absolute;
    left: -24px;
    top: -11px;
}

/* связь, контакты, языки */

.menu-bar__tools {
    padding: 0 0 0 24px;
}

.menu-bar__contacts {
    padding: 0 0 0 24px;
    margin-bottom: 35px;
}

.contacts__phone {
    font-size: 1.5em;
    font-weight: bold;
}

.menu-bar__button:hover {
    color: #7E7E82;
}

.menu-bar__languages {
    padding: 0 0 24px 24px;
}
