html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.body {
    min-width: 320px;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
}

.lg-elem {
    display: none;
}

.sm-elem {
    display: none;
}
    @media (min-width: 768px) {
        .sm-elem {display: block;}
    }

@media (min-width: 1120px) {
    .lg-hidden {
        display: none;
    }
}

@media (min-width: 1120px) {
    .lg-elem {
        display: block;
    }
}
